# Compiled JavaScript files
lib/
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase
firebase-debug.log

# environment variables
.env.beta
.env.prod

# data download from DB
data/